@media screen and (max-width:1024px) {
    .navbar-default .navigation ul li a {
        font-size: 18px;
    }

    .navbar-default .navigation ul li {
        padding: 0 0 0 50px;
    }

    .footer {
        padding: 60px 0 0;
    }

    .footer .pra p {
        max-width: 250px;
    }

    .footer .footer-logo {
        margin-bottom: 20px;
    }

    .footer .heading h3 {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .footer ul li {
        font-size: 13px;
    }

    .footer .address ul li i {
        font-size: 13px;
        margin-right: 11px;
    }

    .footer .socal-media {
        padding: 20px 0 0;
    }

    .footer .socal-media ul li a {
        font-size: 20px;
    }

    .footer .socal-media ul {
        gap: 20px;
    }
}

@media screen and (max-width:991px) {
    html body p {
        font-size: 16px;
    }

    .navbar-default .navigation ul li a {
        font-size: 16px;
    }

    .navbar-default .btm-header .logo-panel {
        width: 160px;
    }

    .navbar-default .navigation ul li {
        padding: 0 0 0 35px;
    }

    .footer {
        padding: 50px 0 0;
    }

    .footer .pra p {
        max-width: 100%;
    }

    .footer .socal-media {
        padding-bottom:25px;
    }

    .footer .copy-right {
        padding: 20px 0;
    }

    #top_button {
        width: 30px;
        height: 30px;
        font-size: 16px;
        line-height: 30px;
        bottom: 18px;
        right: 18px;
    }
}

@media screen and (max-width:767px) {
    .navbar-default .top-header .inner-content {
        justify-content: center;
    }

    .navbar-default .top-header .address ul {
        justify-content: center;
    }

    .navbar-default .top-header .address ul li {
        padding: 0 8px;
    }

    .navbar-default .btm-header {
        padding: 13px 0;
    }

    .navbar-default .inner-content a.mob_open_menu {
        display: block;
    }

    .navbar-default .inner-content a.mob_open_menu i {
        color: #fff;
        background: #1671b9;
        padding: 8px 10px;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        font-size: 13px;
    }

    .navbar-default .inner-content .navigation {
        position: fixed;
        left: -100%;
        top: 0;
        background: #171717;
        width: 250px;
        height: 100%;
        transition: var(--trans);
        z-index: 99;
        padding: 0;
        margin: 0;
    }

    .navbar-default .inner-content .navigation.open_menu {
        left: 0;
    }

    .navbar-default .navigation ul li a:after {
        display: none;
    }

    .navbar-default .inner-content .navigation a.mob_close_menu {
        display: block;
        background: #1671b9;
        color: #ffff;
        padding: 7px;
        text-align: right;
    }

    .navbar-default .navigation ul li {
        display: block;
        padding: 0;
        margin-right: 0;
    }

    .navbar-default .navigation ul li a {
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        color: #fff;
        padding: 10px;
    }

    .footer {
        padding: 20px 0 0;
    }

    .footer .box {
        padding: 20px 0 0;
    }

    .footer .socal-media {
        padding-bottom:0;
    }

    .footer .heading h3 {
        margin-bottom: 15px;
        padding-bottom: 10px;
    }

    .footer .heading h3::before {
        height: 3px;
    }

    .footer ul li {
        font-size: 15px;
    }

    .footer .address ul li i {
        font-size: 15px;
    }
}

@media screen and (max-width:481px) {
    .navbar-default .top-header .address ul li {
        padding-bottom: 5px;
    }

    .navbar-default .top-header .address ul li {
        font-size: 13px;
    }

    .navbar-default .top-header .social-blck ul li a {
        font-size: 15px;
    }

    .navbar-default .top-header {
        padding: 8px 0;
    }
}
